@font-face {
    font-family: "P";
    src: url(./font/PlayfairDisplay-Regular.9647c7fa\ \(4\).ttf);
}
@font-face {
    font-family: "RB";
    src: url(./font/Roobert-Bold.005c37fb.ttf);
}
@font-face {
    font-family: "RR";
    src: url(./font/Roobert-Regular.286574d1.ttf);
}

*{
    cursor: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: "RR";
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


#loading{
    height: 100vh;
    width: 100vw;
    background-color: #f8c3dc;
    position: absolute;
    z-index: 9999999;
    pointer-events: none;
}




#nav{
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100vw;
    height: 10vw;
    padding: 0 5vw;
    color: #fff;
    font-size: 3vw;
    pointer-events: none;
}

.navC{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.navC svg{
    fill: #fff;
    width: 4.5vw;
}

#navR{
    display: flex;
    align-items: center;
    gap: .7vw;
    height: fit-content;
    flex-direction: column;
    pointer-events: all;
}

.bg-white{
    background-color: #fff !important;
}

.w-8vw{
    width: 8vw !important;
}

#fLC2{
    position: relative;
    overflow: hidden;
}
#fLC2 span{
    position: absolute;
    right: 23%;
}

#s2,#s3{
    top: 100%;
}

.line{
    width: 3vw;
    height: .15vw;
    background-color: rgb(255, 255, 255);
}


#fixedLeftCont{
    font-family: 'RR';
    padding: 4vw;
    position: fixed;
    z-index: 1;
}
#fixedLeftCont h4{
    font-size: 1.3vw;
    font-weight: 100;
    position: absolute;
    transform: translateX(-100%);
    width: 25vw;
}



#menuPage{
    height: 100vh;
    width: 100vw;
    background-color: #fffaf0;
    display: flex;
    position: fixed;
    top: -100%;
    z-index: 999;
}

.menuPageSection{
    width: 50vw;
    padding: 0 4vw;

}
.menuPageSection h3,.menuPageSection2 h3{
    font-weight: 100;
    padding-top: 10vw;
}

.menuPageSection h1{
    margin-top: 2.5vw;
    letter-spacing: -.2vw;
    width: 70%;
    font-family: 'P';
    font-weight: 100;
    line-height: 1.15;
    font-size: 6vw;
}



.menuPageSection2{
    width: 50vw;
    padding-left: 10vw;
    
}

.menuPageSection2 h1{
    margin-top: 2.5vw;
    letter-spacing: -.2vw;
    font-family: 'P';
    font-weight: 100;
    width: 88%;
    line-height: 1.15;
    font-size: 3vw;
}

.menuPageSection2 button{
    margin-top: 4vw;
}


#main{
    width: 100%;
    overflow: hidden;
}
#page1{
    height: 100vh;
    width: 100vw;
    color: #fff;
    background-color: #fffaf0;
}
canvas{
    max-width: 100vw;
    max-height: 100vh;
}
#page1Content{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
}
#page1ContentText{
    width: 40vw;
    position: absolute;
    top: 47%;
    left: 76%;
    text-align: center;
    transform: translate(-50%,-50%);
}

#page1ContentText h1{
    font-weight: 100;
    line-height: 1;
    font-family: "P";
    font-size: 4.7vw;
    margin-bottom: 2vw;
}
#page1ContentText h3{
    font-weight: 100;
    line-height: 1.2;
    width: 40%;
    margin: 0 auto;
}

#page1ScrollToDiscover p{
    rotate: -90deg;
    transform: translate(50%,-330%);
    width: 135px;

}
#page1ScrollToDiscover{
    font-family: "RB";
    position: absolute;
    bottom: 55px;
    right: 55px;
    width: 12px;
}

#page2{
    padding: 1vw 0;
    width: 100vw;
    position: relative;
    background-color: #fffaf0;
    overflow: hidden;
}
#page2>h1{
    padding-top: 15vw;
    width: 70%;
    margin: 0 auto;
    font-family: "P";
    font-size: 4.5vw;
    font-weight: 100;
    text-align: center;
    line-height: 1;
}
.page2Text{
    padding-top: 14.5vw ;
}
.page2Text h3{
    margin: 0 auto;
    width: fit-content;
    font-weight: 400;
    font-size: 1.5vw;
}
.page2Text h1{
    margin: 3vw auto 0 auto;
    width: fit-content;
    font-weight: 400;
    font-size: 4.4vw;
    line-height: .95;
    text-align: center;
    font-family: "P";
    width: 83%;
}

#page2 img{
    position: absolute;
    top: -10%;
    left: 18%;
    height: 70vw;
    z-index: 2;
}
#page3{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#page3Sticky{
    background-color: #fffaf0;
    height: 100vh;
    width: 100vw;
}

#page3Sticky video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#ourExpertises{
    display: flex;
    flex-direction: column;
    gap: 20vw;
    padding: 1vw 0;
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 63vw;
}

.ourExpertise{
    margin-left: 2vw;
}
.ourExpertise h3{
    font-weight: 100;
    margin-bottom: 2vw;
}
.ourExpertise h1{
    font-family: "P";
    font-weight: 100;
    font-size: 2.8vw;
    margin-left: 3vw;
    line-height: 1.15;
}

#page4{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 7vw;
}

#brands{
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
}
.brand{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 3vw;
}

.brand img{
    object-fit: cover;
}

#page5{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 4vw 0;
}

#page5 h1{
    font-family: 'P';
    font-size: 5vw;
    line-height: 1;
    font-weight: 500;
    width: 30%;
    text-align: center;
}

#page6{
    height: 100vh;
    width: 100%;
    background-color: #fffaf0;
}

#page6 canvas{
    height: 100%;
    width: 100%;
    position: relative;
}

#page6Content{
    position: absolute;
    z-index: 1;
    top: 38%;
    left: 14%;
    color: #fff;
}

#page6Content h1{
    font-family: 'P';
    width: 55%;
    line-height: 1.15;
    font-size: 2.5vw;
    font-weight: 100;
    margin-bottom: 4vw;
}

#page6Elems{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.page6Elem{
    width: 15%;
    font-size: 1.1vw;
}

.page6ElemT{
    padding-bottom: 1vw;
    border-bottom: 1px solid #fff;
}
.page6ElemB{
    padding-top: 1vw;
}


#page7{
    height: 100vh;
    width: 100vw;
    background-color: #fffaf0;
    padding: 1vw 4vw;
}

#page7 h3{
    margin-top: 11vw;
    font-weight: 100;
    margin-bottom: 2vw;
}

#page7 h1{
    font-family: 'P';
    font-weight: 500;
    font-size: 4vw;
    width: 65%;
    line-height: 1;
}

#page7 button{
    position: absolute;
    right: 5%;
    margin-top: 1vw;
}
.btnAnime{
    color: rgb(227 134 156);
    background-color: transparent;
    border: none;
    font-size: 1.1vw;
    width: fit-content;
    padding-bottom: 1vw;
    overflow: hidden;
    transition: all ease .5s;
    position: relative;

    
}

.btnAnime::after{
    transition: all ease  .5s;
    content: '';
    height: 1.5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: -70%;
    background-color: rgb(227 134 156);
}

.btnAnime:hover::after{
    transition: all ease .5s;
    left: 70%;

}

#footer{
    width: 100vw;
    background-color: #fff;
    display: flex;
    height: 120vh;
    position: relative;

}

#footerL{
    width: 49.8%;
    position: relative;
    padding: 5vw 0;
}

#footerLBg{
    width: 100%;
    position: absolute;
    top: 10%;
    background-color: #fffaf0;
    height: 100%;
}

#footerLT{
    padding: 0 4vw;
    position: relative;
    z-index: 1;
}
#footerLT h3{
    font-weight: 100;
    margin-bottom: 2vw;
}
#footerLT h1{
    font-weight: 100;
    font-family: 'P';
    line-height: .95;
    font-size: 4vw;
}

#footerLT button{
    margin-top: 10vw;
}

#footerR{
    width: 50%;
    padding: 5vw 5.5vw;
    
}
#footerR span{
    color: rgb(227 134 156);
}

#footerR>h4{
    font-weight: 100;
    margin-bottom: 2vw;
}

.flex-alignItem-center{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.line2{
    display: inline-block;
    width: 200px;
    height: .8px;
    background-color: rgb(227 134 156) ;
}

#footerR h4{
    font-weight: 100;
    font-size: 1.2vw;
}

strong{
    font-weight: 900 !important;

}

#footerRCont{
    display: flex;
    gap: 10vw;
}


.mt-6vw{
    margin-top: 6vw;
}


.footerBottom{
    position: absolute;
    bottom: 0;
    padding: 5vw;
    width: 100%;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerBottom h4{
    font-weight: 100;
}
.footerBottomC svg{
    fill: #000;
    width: 4.5vw;
}

.footerBottomR{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.w-1vw{
    width: 1.8vw;
}
.h-1vw{
    height: 1vw;
}

.verticalLine{
    height: 32px;
    width: 1px;
    background: rgb(227 134 156);
}